@model Vidly.Models.Movie


<h2>Edit Movie</h2>

@using (Html.BeginForm("Edit", "Movie"))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.DateAdded)

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Genre)
        @Html.DropDownListFor(m => m.Genre, new SelectList(ViewBag.Genres), new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.QtdStock)
        @Html.TextBoxFor(m => m.QtdStock, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">
        Create
    </button>
}
